<template name="navTopDown">
  <div class="navbar-fixed-top hidden-print">

    <div class="row">

      <div class="col-xs-6">

        <a class="pull-left navbar-btn btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="hidden-xs">
            <i class="fa fa-fw fa-trophy menu-icon"></i>İşler
            <span class="caret"></span>
          </span>
          <span class="visible-xs-inline-block">
            <i class="fa fa-fw fa-trophy"></i>
            <span class="caret"></span>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="disabled"><a><i class="fa fa-fw fa-child menu-icon"></i>Crm</a></li>
          <li class="disabled"><a><i class="fa fa-fw fa-globe menu-icon"></i>Rezervasyon</a></li>
          <li class="disabled"><a><i class="fa fa-fw fa-briefcase menu-icon"></i>Operasyon</a></li>
          <li class="disabled"><a><i class="fa fa-fw fa-credit-card menu-icon"></i>Dükkan</a></li>
          <li class="disabled"><a><i class="fa fa-fw fa-line-chart menu-icon"></i>Muhasebe</a></li>
        </ul>

        <a data-sidebar-toggle class="sidebar-toggle visible-xs-inline-block">
          <i class="fa fa-bars"></i>
        </a>

      </div>

      <div class="col-xs-6 text-right">

        <a data-is-ekle>
          <i class="fa fa-paper-plane"></i>
        </a>

      </div>

    </div>

  </div>

</template>
